<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Evaluate news NLP</title>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
  <div class="main-container">
    <header class="header">
      <div class="header-title">
          <h1 class="header-title-text">EVALUATE NEWS WITH NLP</h1>
      </div>
    </header>
    <div class="evaluate-container">
        <div class="form-container">
          <h1 class="form-title">Evaluate News</h1>
          <div class="note-container">
            <input class="text-input" id="txtUrl" type="text" placeholder="http://newsWebsite.com"></input>
            <span class="text-input-bottom-text">To Evaluate a News you need paste a URL (http or ftp) on text input</span>
            <button class="post-button" id="btnEvaluate">
              <span class="post-button-text">Evaluate News</span>
            </button>
          </div>
        </div>
        <div class="result-container">
          <h1 class="form-title">Results</h1>
          <div class="note-container">
            <span id="lblAgreement"></span>
            <span id="lblConfidence"></span>
            <span id="lblIrony"></span>
            <span id="lblSubjectivity"></span>
          </div>
        </div>
    </div>
  </div>
  <footer class="footer">
    <div class="footer-options">
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
    </div>
    <div class="footer-options-mid">
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
        <span class="footer-text">footer</span>
    </div>
    <div class="footer-social-media">
        <span class="footer-text">Social Medias:</span>
        <span class="footer-text">Facebook</span>
        <span class="footer-text">Twitter</span>
        <span class="footer-text">LinkedIn</span>
    </div>
</footer>
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>
  <script src="main.js"></script>
</body>
</html>