@import './globalStyles.scss';
@import './header.scss';
@import './evaluate.scss';
@import './footer.scss';

.main-container{
    display: grid;
    height: 100vh;
    width: 100vw;
    border: solid;
    border-width: 1px;
    grid-template:
    "hd" 
    "ev" 1fr
    "ft"
    ;
}

@media only screen and (max-width: 800px) {
    .main-container{
        grid-template:
        "hd" 
        "ev" 1fr
        "ft"
        ;
    }
  }